@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

body {
  font-family: var(--font-ibm, 'IBM Plex Sans Arabic', sans-serif);
}

.font-quran {
  font-family: 'Amiri Quran', serif;
}

::-webkit-scrollbar { width: 4px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #d1d5db; border-radius: 4px; }
::-webkit-scrollbar-thumb:hover { background: #9ca3af; }
